* Ten alle tijden mag er maar één sluisdeur open zijn.
* Een sluisdeur mag alleen open als de waterniveau aan beiden kanten gelijk is aan elkaar.
* Sluisdeur mag alleen open als de ricketschuiven gesloten zijn.


* Bij het indrukken van de noodstop dienen alle sluisdeuren per direct te stoppen met functioneren.
* Bij het reseten van de noodstop dient de process waarmee de sluisdeuren mee bezig waren te worden
  afgemaakt.
    * Ten alle tijden moet de sluisdeur (waarbij de waterniveau aan beiden kanten gelijk is) na het 
      indrukken van de noodstop naar een open of dichte toestand te worden gebracht.


* Bij het indrukken van de noodstop dienen de scheepvaarseinen aan de buitenkant van de sluis
  ten alle tijden het sein 'buiten gebruik' aan te duiden.
* Bij het indrukken van de noodstop dienen de scheepvaartseinen in de kolk uitgezet te worden.
* Bij het reseten van de noodstop dienen alle scheepvaartseinen het sein 'verboden voor doorvaart' 
  aan te duiden.
* Tijdens het schutten van een schip dient de stoplicht aan een kant ten alle tijden het de volgende drie
  fases door te lopen: 'verboden voor doorvaart' -> 'gereedmaken voor doorvaart' -> 'vrij voor doorvaart' -> 'verboden voor doorvaart'


* Bij gesloten sluisdeuren dienen voor alle scheepvaarsein een rood licht te worden afgegeven